<h1>Political Expenditure Lookup</h1>
<select>
  <option>Supports Republicans</option>
  <option value="">Supports Democrats</option>
  <option value="">Attacks Republicans</option>
  <option value="">Attacks Democrats</option>
</select>
<form>
  <button class="btn btn-lg btn-default" {{action 'pageReturn'}}>Get Page</button>
</form>
